@charset "UTF-8";@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
*{padding: 0; margin: 0;}
:root{
    --cor1:#011b4f;
    --cor2:#043e66;
    --cor3:#044f5c;
    --cor4:#040b66;
    --cor5:#15045c;
    
}
body{
    background-color: var(--cor5);
}
ul li{
    list-style-type: none;
    background-color: var(--cor2);
    margin-top: 5px;
    border-radius: 10px;
}
/*HEADER*/
header{
    background-color: var(--cor3);
    height: 12vh;
    box-shadow: 1px 3px 3px rgba(255, 255, 0, 0.13);

}
#titulo{
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    text-shadow: 1px 4px 3px black;
    text-align: center;
}
.envol{
    display: inline-block;
    font-family: 'Recursive', sans-serif;
    padding: 5px;
    color: rgb(190, 190, 83);

}
.envol1{
    margin: auto;
    text-align: center;
}
.envol6{
    max-width: 300px;
    margin: auto;
}
#envol3{
    font-family: 'Recursive', sans-serif;
    color: yellow;
    margin-top: 30px;
    text-align: center;
}
.envol4{
    display: block;
    width: 20px;
}
.envol8{
    margin-top: 50px;
    font-family: 'Recursive', sans-serif;
    font-size: 1.2em;
    color: yellow;
    text-align: center;
}
#cred{
    text-align: center;
    margin-top: 30px;
    font-size: 8px;
    color: yellow;
}
#cred a{
    text-decoration: none;
    color: white;
}